<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/examples.html">Examples</a></li>
          <li><a href="/status.html">Status</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
        <h3 class="muted">{{ page.title }}</h3>
      </div>

      <div class="content">
        {{ content }}

        {% include coins.html %}
      </div>
      <hr>
      {% include comments.html %}
      {% include analytics.html %}
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>